

.textBlock {
    display: flex;

    .textContent {
        width: 50%;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 40px;
    }

        figure{
            width: 50%;
        }
    img {
        border-radius: 20px;
        width: 100%;
    }
}









p {
    font-size: 14px;
    display: block;
    font-weight: 400;
    margin-bottom: 15px;
    word-break: break-word;
}

.textButtons {
    margin-top: 20px;
    background-color: white;
    color: #34BB6A;
    font-size: 13px;
    line-height: 1em;
    font-weight: 600;
    padding: 12px 28px;
    border: 2px solid #34BB6A;
    box-sizing: border-box;
    border-radius: 20px;
    display: inline-flex;
    white-space: nowrap;
    transition: all .3s;

}


.wrap {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    background-color: #F2F7F5;
    &-second{
        background-color: aqua;
        .textBlock{
            flex-direction: row-reverse;
        }
    }
}



.mapFarm {
    svg {
        width: 100%;
        height: 100%;
    }
}

.info{
    display: flex;
    margin-top: 100px;
    width: 100%;
    background-color: #F7F7F7;

.newsBlock{
    width: 33%;
    flex-direction: row;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    margin: 0px 11px;

    .newsContent{
        padding: 0 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px; 
    }
    h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        display: block;
        font-weight: 400;
        margin-bottom: 15px;
        word-break: break-word;
    }
    img{
        height: auto;
        width: 100%;
        clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 77% 84%, 48% 90%, 21% 82%, 0% 70%, 0% 35%, 0 0);
    }
}
}

